{% extends 'base.html' %}
{%block content%}
<span class="border border-dark">
<div class="container">
    <div class="p-4 m-4">
<div>
    <h1>Create an Account</h1><b></b>
   <form action="signup" method="POST">
     {% csrf_token %}
     {%if error%}
      <div class="alert alert-danger" role="alert">
        {{error}}
      {%endif%}
      </div>
        <div class="mb-3">
            <label for="exampleInputText" class="form-label">Enter Name</label>
            <input type="text" value="{{ values.username}}" name="username" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
          
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" value="{{values.email}}" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
        
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" value="{{values.password}}" class="form-control form-control-sm" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="Phone Number" class="form-label">PhoneNumber</label>
            <input type="text" name="phone" value="{{values.phone}}" class="form-control form-control-sm" id="exampleInputPassword1">
          </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

   
</div>
</div></span>
{%endblock%}